<%= error_messages_for @service %>

<div class="box tabular">
<p><%= f.text_field :name, :required => true, :size => 60 %></p>
<p><%= f.text_area :description, :cols => 60, :rows => 2 %></p>
<p><%= f.text_field :measure_unit, :required => true, :size => 12 %></p>
</div>
